.ie9.navbar {
margin-bottom: -28px;  /* IE 9 and below */
margin-top: 30px;
}

.ie9 #cssmenu {
width: 750px;
font-family: 'Oswald-Light';
line-height: 1;
background: white;
float: right;
top: -50px;
}